In [1]:

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
# import the data file
charity_df = pd.read_csv('charity_data.csv')
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop name and EIN columns
charity_df = charity_df.drop(["EIN", "NAME"], axis=1)

In [4]:
# Create categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()
charity_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [5]:
# Check unique values per column
charity_df[charity_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [6]:
# Bin classification
classfication_counts = charity_df.CLASSIFICATION.value_counts()

# Determine values to replace
replace_classfication = list(classfication_counts[classfication_counts < 700].index)

# Replace in DataFrame
for classification in replace_classfication:
    charity_df.CLASSIFICATION = charity_df.CLASSIFICATION.replace(classification,"Other-classification")


# Check if binning successful
charity_df.CLASSIFICATION.value_counts()

C1000                   17326
C2000                    6074
C1200                    4837
C3000                    1918
C2100                    1883
Other-classification     1484
C7000                     777
Name: CLASSIFICATION, dtype: int64

In [7]:
application_type_counts = charity_df.APPLICATION_TYPE.value_counts()

In [8]:
# Determine which values to replace
replace_application_type = list(application_type_counts[application_type_counts < 700].index)
replace_application_type

['T10', 'T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T29', 'T15', 'T17']

In [9]:
# Replace in DataFrame
for app_type in replace_application_type:
    charity_df.APPLICATION_TYPE = charity_df.APPLICATION_TYPE.replace(app_type,"Other")


# Check to make sure binning was successful
charity_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [10]:
income_amt_counts = charity_df.INCOME_AMT.value_counts()
income_amt_counts

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [11]:
# make a bin for 5m+
replace_income_amt = list(income_amt_counts[income_amt_counts < 300].index)
replace_income_amt

['10M-50M', '5M-10M', '50M+']

In [12]:
# Replace in DataFrame
for income in replace_income_amt:
    charity_df.INCOME_AMT = charity_df.INCOME_AMT.replace(income,"5M+")

# Check to make sure binning was successful
charity_df.INCOME_AMT.value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
5M+                564
10000-24999        543
Name: INCOME_AMT, dtype: int64

In [13]:
# Create OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform OneHotEncoder using categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]))

# Add encoded variable names to DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_5M+,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Merge OneHotEncoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_cat,1)
charity_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_5M+,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [15]:

# Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_test_scaled

array([[ 0.01394306, -0.03336766, -0.15558816, ..., -0.12694995,
         0.02789425, -0.02789425],
       [ 0.01394306,  0.02868029, -0.15558816, ...,  7.87712001,
         0.02789425, -0.02789425],
       [ 0.01394306, -0.03348439, -0.15558816, ..., -0.12694995,
         0.02789425, -0.02789425],
       ...,
       [ 0.01394306, -0.03348439, -0.15558816, ..., -0.12694995,
         0.02789425, -0.02789425],
       [ 0.01394306, -0.03348439, -0.15558816, ..., -0.12694995,
         0.02789425, -0.02789425],
       [ 0.01394306, -0.03348439, -0.15558816, ..., -0.12694995,
         0.02789425, -0.02789425]])

In [17]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=10, input_dim=number_input_features, activation="relu")
)

nn.add(tf.keras.layers.Dense(units=4, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                420
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 44
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 5
=================================================================
Total params: 469
Trainable params: 469
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\ackit\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [21]:
# Fit the model to the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=70)

Epoch 1/70
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5445 - acc: 0.7358
Epoch 2/70
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5445 - acc: 0.7351
Epoch 3/70
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5446 - acc: 0.7359
Epoch 4/70
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5446 - acc: 0.7354
Epoch 5/70
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5442 - acc: 0.7357
Epoch 6/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5446 - acc: 0.7360
Epoch 7/70
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5445 - acc: 0.7352
Epoch 8/70
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5442 - acc: 0.7354
Epoch 9/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5449 - acc: 0.7344
Epoch 10/70
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5441 - acc: 0.7347
Epoch 11/70
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5445 - acc: 0.7358
Epoch 12/70
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5443 - acc: 0.7352
Epoch 13/70
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5443 - acc: 0.7352
Epoch 14/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5444 - acc: 0.7352
Epoch 15/70
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5442 - acc: 0.7359
Epoch 16/70
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5444 - acc: 0.7362
Epoch 17/70
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5440 - acc: 0.7362
Epoch 18/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5443 - acc: 0.7347
Epoch 19/70
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5441 - acc: 0.7360
Epoch 20/70
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5440 - acc: 0.73461
Epoch 21/70
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5443 - acc: 0.7356
Epoch 22/70
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5440 - acc: 0.7353
Epoch 23/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5442 - acc: 0.7362
Epoch 24/70
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5441 - acc: 0.7352
Epoch 25/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5441 - acc: 0.7355
Epoch 26/70
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5439 - acc: 0.7363
Epoch 27/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5440 - acc: 0.7359
Epoch 28/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5441 - acc: 0.7350
Epoch 29/70
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5438 - acc: 0.7354
Epoch 30/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5440 - acc: 0.7359
Epoch 31/70
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5441 - acc: 0.7350
Epoch 32/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5438 - acc: 0.7345
Epoch 33/70
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5439 - acc: 0.7358
Epoch 34/70
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5437 - acc: 0.7358
Epoch 35/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5435 - acc: 0.7347
Epoch 36/70
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5435 - acc: 0.7358
Epoch 37/70
25724/25724 [==============================] - 2s 58us/sample - loss: 0.5439 - acc: 0.7358
Epoch 38/70
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5439 - acc: 0.7359
Epoch 39/70
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5440 - acc: 0.7355
Epoch 40/70
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5431 - acc: 0.7372
Epoch 41/70
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5436 - acc: 0.7356
Epoch 42/70
25724/25724 [==============================] - 2s 74us/sample - loss: 0.5433 - acc: 0.7361
Epoch 43/70
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5435 - acc: 0.7353
Epoch 44/70
25724/25724 [==============================] - 2s 78us/sample - loss: 0.5434 - acc: 0.7357
Epoch 45/70
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5440 - acc: 0.7341
Epoch 46/70
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5435 - acc: 0.7367
Epoch 47/70
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5436 - acc: 0.7348
Epoch 48/70
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5436 - acc: 0.7357
Epoch 49/70
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5435 - acc: 0.7349
Epoch 50/70
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5436 - acc: 0.7348
Epoch 51/70
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5435 - acc: 0.7364
Epoch 52/70
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5435 - acc: 0.7345
Epoch 53/70
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5431 - acc: 0.7355
Epoch 54/70
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5434 - acc: 0.7359
Epoch 55/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5434 - acc: 0.7349
Epoch 56/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5430 - acc: 0.7356
Epoch 57/70
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5431 - acc: 0.7362
Epoch 58/70
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5433 - acc: 0.7361
Epoch 59/70
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5435 - acc: 0.7353
Epoch 60/70
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5433 - acc: 0.7363
Epoch 61/70
25724/25724 [==============================] - 2s 74us/sample - loss: 0.5435 - acc: 0.7358
Epoch 62/70
25724/25724 [==============================] - 2s 75us/sample - loss: 0.5432 - acc: 0.7347
Epoch 63/70
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5433 - acc: 0.7362
Epoch 64/70
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5433 - acc: 0.7346
Epoch 65/70
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5434 - acc: 0.7352
Epoch 66/70
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5434 - acc: 0.7354
Epoch 67/70
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5431 - acc: 0.7358
Epoch 68/70
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5431 - acc: 0.7356
Epoch 69/70
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5432 - acc: 0.7361
Epoch 70/70
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5430 - acc: 0.7348

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 35806.6086 - acc: 0.4668
Loss: 35806.60861049107, Accuracy: 0.46682214736938477